out
.vscode-test/
node_modules/*
dev/unimathsymbols.txt
VERSION
.idea/
__pycache__/
.mypy_cache/
.pytest_cache/
.venv/
.vscode/.ropeproject
.eslintcache
test/fixtures/**/*.pdf
test/fixtures/**/*.dvi
test/fixtures/**/*.log
test/fixtures/**/*.synctex.gz
test/fixtures/**/*.aux
test/fixtures/**/*.fdb_latexmk
test/fixtures/**/*.fls
