.vscode/
.vscode-test/
coverage/
out/data/
out/dev/
out/resources/
out/snippets/
out/test/
test/
src/**/*.ts
src/**/*.md
samples/
types/
viewer/**/*.ts
.devcontainer/
.github/
.gitignore
tsconfig.json
tsconfig.eslint.json
tsconfig.eslint.viewer.json
viewer/tsconfig.json
dev/
demo_media/
VERSION/
VERSION
.idea/
__pycache__/
.mypy_cache/
.pytest_cache/
.venv/
.eslintcache
.eslintignore

install-tl*

**/*.map
node_modules/**/*.d.ts

node_modules/fsevents/
node_modules/canvas/

node_modules/pegjs-backtrace/
node_modules/commander/

node_modules/pdfjs-dist/build/*.min.js
node_modules/pdfjs-dist/build/*.min.mjs
node_modules/pdfjs-dist/build/*.sandbox.*
node_modules/pdfjs-dist/legacy/
node_modules/pdfjs-dist/image_decoders/
node_modules/pdfjs-dist/lib/
node_modules/pdfjs-dist/web/
node_modules/web-streams-polyfill/

node_modules/mathjax-full/components/
node_modules/mathjax-full/es5/
node_modules/mathjax-full/ts/
node_modules/mathjax-full/js/output/chtml/
node_modules/mathjax-full/js/input/asciimath/
node_modules/mathjax-full/js/input/mathml/

node_modules/speech-rule-engine/
node_modules/wicked-good-xpath/
node_modules/xmldom-sre/
node_modules/mj-context-menu/
node_modules/esm/
