.vscode/**
.vscode-test/**
out/dev/**
out/test/**
test/**
src/**
sample/**
types/**
**/*.map
.github/**
.gitignore
tsconfig.json
tsconfig.eslint.json
dev/**
demo_media/**
VERSION/**
.idea/
__pycache__/
.mypy_cache/
.pytest_cache/
.venv/
.eslintcache
.eslintignore

node_modules/pdfjs-dist/build/pdf.min.js
node_modules/pdfjs-dist/build/pdf.worker.min.js
node_modules/pdfjs-dist/build/pdf.combined.js
node_modules/pdfjs-dist/build/*.js.map
node_modules/pdfjs-dist/external/
node_modules/pdfjs-dist/lib/
node_modules/pdfjs-dist/web/

node_modules/mathjax/config/
node_modules/mathjax/docs/
node_modules/mathjax/extensions/
node_modules/mathjax/fonts/
node_modules/mathjax/jax/
node_modules/mathjax/localization/
node_modules/mathjax/test/
node_modules/mathjax/unpacked/config/AM_CHTML-full.js
node_modules/mathjax/unpacked/config/AM_CHTML.js
node_modules/mathjax/unpacked/config/AM_HTMLorMML-full.js
node_modules/mathjax/unpacked/config/AM_HTMLorMML.js
node_modules/mathjax/unpacked/config/AM_SVG-full.js
node_modules/mathjax/unpacked/config/AM_SVG.js
node_modules/mathjax/unpacked/config/MML_CHTML-full.js
node_modules/mathjax/unpacked/config/MML_CHTML.js
node_modules/mathjax/unpacked/config/MML_HTMLorMML-full.js
node_modules/mathjax/unpacked/config/MML_HTMLorMML.js
node_modules/mathjax/unpacked/config/MML_SVG-full.js
node_modules/mathjax/unpacked/config/MML_SVG.js
node_modules/mathjax/unpacked/config/MMLorHTML.js
node_modules/mathjax/unpacked/config/TeX-AMS-MML_HTMLorMML-full.js
node_modules/mathjax/unpacked/config/TeX-AMS-MML_HTMLorMML.js
node_modules/mathjax/unpacked/config/TeX-AMS-MML_SVG-full.js
node_modules/mathjax/unpacked/config/TeX-AMS-MML_SVG.js
node_modules/mathjax/unpacked/config/TeX-AMS_CHTML-full.js
node_modules/mathjax/unpacked/config/TeX-AMS_CHTML.js
node_modules/mathjax/unpacked/config/TeX-AMS_HTML-full.js
node_modules/mathjax/unpacked/config/TeX-AMS_HTML.js
node_modules/mathjax/unpacked/config/TeX-MML-AM_CHTML-full.js
node_modules/mathjax/unpacked/config/TeX-MML-AM_CHTML.js
node_modules/mathjax/unpacked/config/TeX-MML-AM_HTMLorMML-full.js
node_modules/mathjax/unpacked/config/TeX-MML-AM_HTMLorMML.js
node_modules/mathjax/unpacked/config/TeX-MML-AM_SVG-full.js
node_modules/mathjax/unpacked/config/TeX-MML-AM_SVG.js
node_modules/mathjax/unpacked/extensions/MathML
node_modules/mathjax/unpacked/extensions/a11y
node_modules/mathjax/unpacked/jax/output/HTML-CSS
node_modules/mathjax/unpacked/jax/output/NativeMML
node_modules/mathjax/unpacked/jax/output/PlainSource
node_modules/mathjax/unpacked/jax/output/PreviewHTML
node_modules/mathjax/unpacked/jax/output/SVG/fonts/Asana-Math
node_modules/mathjax/unpacked/jax/output/SVG/fonts/Gyre-Pagella
node_modules/mathjax/unpacked/jax/output/SVG/fonts/Gyre-Termes
node_modules/mathjax/unpacked/jax/output/SVG/fonts/Latin-Modern
node_modules/mathjax/unpacked/jax/output/SVG/fonts/Neo-Euler
node_modules/mathjax/unpacked/jax/output/SVG/fonts/STIX-Web
node_modules/mathjax/unpacked/localization/ar
node_modules/mathjax/unpacked/localization/ast
node_modules/mathjax/unpacked/localization/bcc
node_modules/mathjax/unpacked/localization/bg
node_modules/mathjax/unpacked/localization/br
node_modules/mathjax/unpacked/localization/ca
node_modules/mathjax/unpacked/localization/cdo
node_modules/mathjax/unpacked/localization/ce
node_modules/mathjax/unpacked/localization/cs
node_modules/mathjax/unpacked/localization/cy
node_modules/mathjax/unpacked/localization/da
node_modules/mathjax/unpacked/localization/de
node_modules/mathjax/unpacked/localization/diq
node_modules/mathjax/unpacked/localization/eo
node_modules/mathjax/unpacked/localization/es
node_modules/mathjax/unpacked/localization/fa
node_modules/mathjax/unpacked/localization/fi
node_modules/mathjax/unpacked/localization/fr
node_modules/mathjax/unpacked/localization/gl
node_modules/mathjax/unpacked/localization/he
node_modules/mathjax/unpacked/localization/ia
node_modules/mathjax/unpacked/localization/it
node_modules/mathjax/unpacked/localization/ja
node_modules/mathjax/unpacked/localization/kn
node_modules/mathjax/unpacked/localization/ko
node_modules/mathjax/unpacked/localization/lb
node_modules/mathjax/unpacked/localization/lki
node_modules/mathjax/unpacked/localization/lt
node_modules/mathjax/unpacked/localization/mk
node_modules/mathjax/unpacked/localization/nl
node_modules/mathjax/unpacked/localization/oc
node_modules/mathjax/unpacked/localization/pl
node_modules/mathjax/unpacked/localization/pt
node_modules/mathjax/unpacked/localization/pt-br
node_modules/mathjax/unpacked/localization/qqq
node_modules/mathjax/unpacked/localization/ru
node_modules/mathjax/unpacked/localization/scn
node_modules/mathjax/unpacked/localization/sco
node_modules/mathjax/unpacked/localization/sk
node_modules/mathjax/unpacked/localization/sl
node_modules/mathjax/unpacked/localization/sv
node_modules/mathjax/unpacked/localization/th
node_modules/mathjax/unpacked/localization/tr
node_modules/mathjax/unpacked/localization/uk
node_modules/mathjax/unpacked/localization/vi
node_modules/mathjax/unpacked/localization/zh-hans
node_modules/mathjax/unpacked/localization/zh-hant
