<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>dtx</string>
	</array>
	<key>name</key>
	<string>DocTeX</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.verb.latex</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>markup.raw.verb.latex</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.verb.latex</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(\|)([^\|]*)(\|)</string>
			<key>name</key>
			<string>meta.function.verb.latex</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>^(%)    (\\begin\{macrocode\})</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>comment.line.percentage.doctex</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.macrocode.doctex</string>
				</dict>
			</dict>
			<key>end</key>
			<string>^(%)    (\\end\{macrocode\})</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#guards</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#macrocode-braces</string>
				</dict>
				<dict>
					<key>include</key>
					<string>text.tex.latex.expl3</string>
				</dict>
				<dict>
					<key>include</key>
					<string>text.tex</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>include</key>
			<string>#guards</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(^[ \t]*)%?%</string>
			<key>name</key>
			<string>comment.line.percentage.doctex</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\^\^A.*$\n?</string>
			<key>name</key>
			<string>comment.line.percentage.tex</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?&lt;=[^%\\])%</string>
			<key>name</key>
			<string>invalid</string>
		</dict>
		<dict>
			<key>include</key>
			<string>text.tex.latex.expl3</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>guards</key>
		<dict>
			<key>match</key>
			<string>^%(\&lt;[^\&gt;]*\&gt;)</string>
			<key>name</key>
			<string>entity.name.function.filename.latex</string>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>text.tex.doctex</string>
	<key>uuid</key>
	<string>6BC8DE6F-9360-4C7E-AC3C-971385945346</string>
</dict>
</plist>