<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>dtx</string>
		<string>ltx</string>
	</array>
	<key>name</key>
	<string>DTX</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>%</string>
			<key>name</key>
			<string>punctuation.definition.comment.tex</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\^\^A</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.comment.tex</string>
				</dict>
			</dict>
			<key>end</key>
			<string>$\n?</string>
			<key>name</key>
			<string>comment.line.percentage.tex</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.verb.latex</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>markup.raw.verb.latex</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.verb.latex</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(\|)([^\|]*)(\|)</string>
			<key>name</key>
			<string>meta.function.verb.latex</string>
		</dict>
		<dict>
			<key>include</key>
			<string>text.tex</string>
		</dict>
		<dict>
			<key>include</key>
			<string>text.tex.latex</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>text.tex.dtx</string>
	<key>uuid</key>
	<string>6BC8DE6F-9360-4C7E-AC3C-971385945346</string>
</dict>
</plist>