<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>dtx</string>
	</array>
	<key>name</key>
	<string>DTX</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.verb.latex</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>markup.raw.verb.latex</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.verb.latex</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(\|)([^\|]*)(\|)</string>
			<key>name</key>
			<string>meta.function.verb.latex</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>^%    (\\begin\{macrocode\})</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>support.class.dtx</string>
				</dict>
			</dict>
			<key>end</key>
			<string>^%    (\\end\{macrocode\})</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#guards</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#macrocode-braces</string>
				</dict>
				<dict>
					<key>include</key>
					<string>text.tex</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>include</key>
			<string>#guards</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(^[ \t]*)%?%</string>
			<key>name</key>
			<string>punctuation.definition.comment.tex</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\^\^A.*$\n?</string>
			<key>name</key>
			<string>comment.line.percentage.tex</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?<=[^%\\])%</string>
			<key>name</key>
			<string>invalid</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\$\$</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.latex</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\$\$</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.latex</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.other.math.latex</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$base</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>\$</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.latex</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\$</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.latex</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.other.math.latex</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$base</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>include</key>
			<string>text.tex.latex</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>guards</key>
		<dict>
			<key>match</key>
			<string>^%(\<[^\>]*\>)</string>
			<key>name</key>
			<string>entity.name.function.filename.latex</string>
		</dict>
		<key>macrocode-braces</key>
		<dict>
			<key>begin</key>
			<string>\{</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.section.group.begin.tex</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(\})|(?=^%    (\\end\{macrocode\}))</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.section.group.end.tex</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.group.braces.tex</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#guards</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#macrocode-braces</string>
				</dict>
				<dict>
					<key>include</key>
					<string>text.tex</string>
				</dict>
			</array>
		</dict>

	</dict>
	<key>scopeName</key>
	<string>text.tex.dtx</string>
	<key>uuid</key>
	<string>6BC8DE6F-9360-4C7E-AC3C-971385945346</string>
</dict>
</plist>