<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array/>
	<key>firstLineMatch</key>
	<string>^\\documentclass(\[.*\])?\{.*\}</string>
	<key>keyEquivalent</key>
	<string>^~M</string>
	<key>name</key>
	<string>LaTeX Expl3</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>begin</key>
			<string>(\$\$|\$)</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.section.group.begin.tex</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(\1)</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.section.group.end.tex</string>
				</dict>
			</dict>
			<key>name</key>
			<string>support.class.math.tex</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\\\$</string>
					<key>name</key>
					<string>constant.character.escape.tex</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#latex3</string>
				</dict>
				<dict>
					<key>include</key>
					<string>text.tex#math</string>
				</dict>
				<dict>
					<key>include</key>
					<string>$base</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>\\\(</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.section.group.begin.tex</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\\\)</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.section.group.end.tex</string>
				</dict>
			</dict>
			<key>name</key>
			<string>support.class.math.tex</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#latex3</string>
				</dict>
				<dict>
					<key>include</key>
					<string>text.tex#math</string>
				</dict>
				<dict>
					<key>include</key>
					<string>$base</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>\\\[</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.section.group.begin.tex</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\\\]</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.section.group.end.tex</string>
				</dict>
			</dict>
			<key>name</key>
			<string>support.class.math.tex</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#latex3</string>
				</dict>
				<dict>
					<key>include</key>
					<string>text.tex#math</string>
				</dict>
				<dict>
					<key>include</key>
					<string>$base</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>include</key>
			<string>#latex3</string>
		</dict>
		<dict>
			<key>include</key>
			<string>text.tex.latex</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>latex3</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.function.expl.latex</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(\\|\.)[\w@]+:\w*</string>
					<key>name</key>
					<string>keyword.control.expl.latex</string>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.variable.expl.latex</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(\\)[\w@]+_[\w@]+</string>
					<key>name</key>
					<string>variable.expl.latex</string>
				</dict>	
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>text.tex.latex.expl3</string>
	<key>uuid</key>	
	<string>3BEEA00C-6B1D-11D9-B8AD-000D93589AF6</string>
</dict>
</plist>
