@media all and (max-width: 1100px) {
    #toolbarViewerMiddle {
      display: table;
      margin: auto;
      left: auto;
      position: inherit;
      -webkit-transform: none;
              transform: none;
    }
}

@media all and (max-width: 660px) {
    .visibleSmallView {
      display: inherit;
    }
    html[dir='ltr'] .findbar {
      left: 38px;
    }
    html[dir='rtl'] .findbar {
      right: 38px;
    }
}

.findbar.wrapContainers > div {
    clear: inherit;
}

#errorWrapper {
    z-index: 100000;
}

#synctex-indicator {
    position: absolute;
    z-index: 100000;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#synctex-indicator.show {
    transition: none;
    opacity: 0.8;
    height: 8px;
    width: 8px;
}

#synctex-indicator.hide {
    transition: opacity 0.6s, height 0.6s, width 0.6s;
    opacity: 0;
    height: 128px;
    width: 128px;
}

#historyBack {
    transform: rotate(-90deg);
}

#historyForward {
    transform: rotate(-90deg);
}

.pdfViewer.removePageBorders .page {
    border: none;
    box-shadow: 0px 0px 0px 1px lightgrey;
}

body {
   background-image: none;
   background-color: white;
}

.notransition {
    transition: none !important;
}

.toolbar {
    position: absolute;
    top: 0;
    transition: all 0.2s cubic-bezier(.23,.96,.57,.99);
}

.toolbar.hide {
    top: -32px;
    transition-duration: 0.4s;
}

.toolbar.hide:hover {
    top: 0;
}

#viewerContainer {
    top: 0;
}

#viewBookmark {
    display: none !important;
}

#secondaryViewBookmark {
    display: none  !important;
}

#download {
    display: none  !important;
}

#secondaryDownload {
    display: none  !important;
}

#openFile  {
    display: none  !important;
}

#secondaryOpenFile {
    display: none  !important;
}

#presentationMode {
    display: none  !important;
}

#secondaryPresentationMode {
    display: none  !important;
}

#trimSelectContainer {
    max-width: 138px;
    min-width: 138px;
}

#trimSelectContainer > select {
    min-width: 160px;
}

#sidebarToggle::after {
    display: none;
}

#synctexOffButton::before {
    display: none;
}

#autoReloadOffButton::before {
    display: none;
}
