@media all and (max-width: 1100px) {
    #toolbarViewerMiddle {
      display: table;
      margin: auto;
      left: auto;
      position: inherit;
      -webkit-transform: none;
              transform: none;
    }
}

@media all and (max-width: 660px) {
    .visibleSmallView {
      display: inherit;
    }
}

.visibleLargeView,
.visibleMediumView {
  display: none !important;
}

html[dir='ltr'] .findbar {
    left: 94px;
}
html[dir='rtl'] .findbar {
    right: 94px;
}

@media all and (max-width: 860px) {
    html[dir='ltr'] .findbar {
      left: 20px;
    }
    html[dir='rtl'] .findbar {
      right: 20px;
    }
}

.findbar.wrapContainers > div {
    clear: inherit;
}

#errorWrapper {
    z-index: 100000;
}

#synctex-indicator {
    position: absolute;
    z-index: 100000;
    border: 0.2em solid red;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

@keyframes synctex-indicator-fadeOut {
    0% {
        background-color: rgba(255, 0, 0, 0.4);
    }
    25% {
        background-color: rgba(255, 0, 0, 0.4);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

.synctex-indicator-rect {
    position: absolute;
    z-index: 100000;
    background-color: rgba(0, 0, 255, 0.5);
    pointer-events: none;
    animation: synctex-indicator-fadeOut 1s forwards;
}

#synctex-indicator.show {
    transition: none;
    opacity: 0.8;
    height: 0.5em;
    width: 0.5em;
}

#synctex-indicator.hide {
    transition: opacity 0.5s, height 0.5s, width 0.5s;
    opacity: 0;
    height: 5em;
    width: 5em;
}

#historyBack::before {
    -webkit-mask-image: var(--findbarButton-previous-icon);
    mask-image: var(--findbarButton-previous-icon);
}

#historyForward::before {
    -webkit-mask-image: var(--findbarButton-next-icon);
    mask-image: var(--findbarButton-next-icon);
}

#TrimButton::before{
    -webkit-mask-image:var(--secondaryToolbarButton-spreadNone-icon);
    mask-image:var(--secondaryToolbarButton-spreadNone-icon);
}

.pdfViewer.removePageBorders .page {
    border: none;
    overflow: hidden;
    box-shadow: 0px 0px 0px 1px lightgrey;
}

.pdfViewer .page.loadingIcon::after{
    z-index: -100000 !important;
}

.pdfViewer .page:not(.loading)::after{
    transition-property: auto !important;
    display:block !important;
}

.notransition {
    transition: none !important;
}

.toolbar {
    position: absolute;
    top: 0;
    transition: all 0.2s cubic-bezier(.23,.96,.57,.99);
}

.toolbar.hide {
    top: -32px;
    transition-duration: 0.4s;
}

.toolbar.hide:hover {
    top: 0;
}

#numPages.toolbarLabel {
    font-size: 16px;
    margin-top: 3px;
}

#viewerContainer {
    top: 0;
}

#viewBookmark {
    display: none !important;
}

#secondaryViewBookmark {
    display: none  !important;
}

#download {
    display: none  !important;
}

#toolbarViewerRight .verticalToolbarSeparator {
    display: none  !important;
}

#openFile,
#secondaryOpenFile,
#secondaryPrint,
#secondaryDownload,
#presentationMode,
#secondaryPresentationMode {
    display: none  !important;
}

#secondaryDownload + .horizontalToolbarSeparator {
    display: none  !important;
}

#sidebarToggle::after {
    display: none;
}

#synctexOnButton::before, #autoRefreshOnButton::before {
    display: none;
}

#synctexOnButton, #autoRefreshOnButton {
    padding-left: 14px;
}

#synctexOnButton > span, #autoRefreshOnButton > span {
    padding-left: 9px;
}

.annotationLayer .popup {
    margin: 0 calc(5px * var(--scale-factor));
}