@media all and (max-width: 1100px) {
    #toolbarViewerMiddle {
      display: table;
      margin: auto;
      left: auto;
      position: inherit;
      -webkit-transform: none;
              transform: none;
    }
}

@media all and (max-width: 660px) {
    .visibleSmallView {
      display: inherit;
    }
}

.visibleLargeView,
.visibleMediumView {
  display: none !important;
}

html[dir='ltr'] .findbar {
    left: 125px;
}
html[dir='rtl'] .findbar {
    right: 125px;
}

@media all and (max-width: 860px) {
    html[dir='ltr'] .findbar {
      left: 20px;
    }
    html[dir='rtl'] .findbar {
      right: 20px;
    }
}

.findbar.wrapContainers > div {
    clear: inherit;
}

#errorWrapper {
    z-index: 100000;
}

#synctex-indicator {
    position: absolute;
    z-index: 100000;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#synctex-indicator.show {
    transition: none;
    opacity: 0.8;
    height: 8px;
    width: 8px;
}

#synctex-indicator.hide {
    transition: opacity 0.6s, height 0.6s, width 0.6s;
    opacity: 0;
    height: 128px;
    width: 128px;
}

#historyBack::before {
    -webkit-mask-image: var(--findbarButton-previous-icon);
    mask-image: var(--findbarButton-previous-icon);
}

#historyForward::before {
    -webkit-mask-image: var(--findbarButton-next-icon);
    mask-image: var(--findbarButton-next-icon);
}

.pdfViewer.removePageBorders .page {
    border: none;
    box-shadow: 0px 0px 0px 1px lightgrey;
}

.notransition {
    transition: none !important;
}

.toolbar {
    position: absolute;
    top: 0;
    transition: all 0.2s cubic-bezier(.23,.96,.57,.99);
}

.toolbar.hide {
    top: -32px;
    transition-duration: 0.4s;
}

.toolbar.hide:hover {
    top: 0;
}

#viewerContainer {
    top: 0;
}

#viewBookmark {
    display: none !important;
}

#secondaryViewBookmark {
    display: none  !important;
}

#download {
    display: none  !important;
}

#toolbarViewerRight .verticalToolbarSeparator {
    display: none  !important;
}

#openFile,
#secondaryOpenFile,
#secondaryPrint,
#secondaryDownload,
#presentationMode,
#secondaryPresentationMode {
    display: none  !important;
}

#sidebarToggle::after {
    display: none;
}

#synctexOffButton::before {
    display: none;
}

#synctexOffButton, #autoReloadOffButton {
    padding-left: 14px;
}

#synctexOffButton > span, #autoReloadOffButton > span {
    padding-left: 9px;
}

#autoReloadOffButton::before {
    display: none;
}

#pageNumber {
    font-size: 12px;
    margin-top: 4px;
}

@media all and (max-width: 700px) {
  #trimSelectContainer {
    display: none;
  }
}