@media all and (max-width: 660px) {
    .hiddenSmallView, .hiddenSmallView * {
      display: none;
    }
    .visibleSmallView {
      display: inherit;
    }
    .toolbarButtonSpacer {
      width: 0;
    }
    html[dir='ltr'] .findbar {
      left: 38px;
    }
    html[dir='rtl'] .findbar {
      right: 38px;
    }
  }

#synctex-indicator {
    position: absolute;
    z-index: 100000;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#synctex-indicator.show {
    transition: none;
    opacity: 0.8;
    height: 8px;
    width: 8px;
}

#synctex-indicator.hide {
    transition: opacity 0.6s, height 0.6s, width 0.6s;
    opacity: 0;
    height: 128px;
    width: 128px;
}

.pdfViewer.removePageBorders .page {
    border: none;
    box-shadow: 0px 0px 0px 1px lightgrey;
}

body {
   background-image: none;
   background-color: white;
}

html #outerContainer.sidebarOpen > #sidebarContainer {
    background-color: #404040;
    background-image: url(images/texture.png);
}

.notransition {
    transition: none !important;
}

.toolbar {
    position: absolute;
    top: 0;
    transition: all 0.4s;
}

.toolbar.hide {
    top: -32px;
}

.toolbar.hide:hover {
    top: 0;
}

#viewerContainer {
    top: 0;
}

#viewBookmark {
    display: none !important;
}

#secondaryViewBookmark {
    display: none  !important;
}

#download {
    display: none  !important;
}

#secondaryDownload {
    display: none  !important;
}

#openFile  {
    display: none  !important;
}

#secondaryOpenFile {
    display: none  !important;
}

#presentationMode {
    display: none  !important;
}

#secondaryPresentationMode {
    display: none  !important;
}

@media all and (max-width: 750px) {
    .hiddenSmallView, .hiddenSmallView * {
        display: none;
    }
}

@media all and (max-width: 650px) {
    #scaleSelectContainer, #trimSelectContainer {
        display: none;
    }
}

#trimSelectContainer {
    max-width: 138px;
    min-width: 138px;
}

#trimSelectContainer > select {
    min-width: 160px;
}

#sidebarToggle::after {
    display: none;
}
